# Server
PORT=3000
TZ=Asia/Tokyo

# Discord request verification（公開鍵）
DISCORD_PUBLIC_KEY=

# Discord credential（秘密情報）
DISCORD_BOT_TOKEN=

# Discord configuration
DISCORD_APPLICATION_ID=
DISCORD_GUILD_ID=
DISCORD_NOTICE_CHANNEL_ID=

# Google credential（秘密情報）
GOOGLE_SERVICE_ACCOUNT_JSON=

# Google configuration
GOOGLE_SPREADSHEET_ID=
