[Unit]
Description=Ardan Discord Gateway
Wants=network-online.target
After=network-online.target
StartLimitIntervalSec=60
StartLimitBurst=5

[Service]
Type=simple
User=ardan
Group=ardan
WorkingDirectory={{ ardan_path }}
EnvironmentFile={{ ardan_env_file }}
ExecStart=/usr/bin/node {{ ardan_path }}/dist/gateway/main.js
Restart=on-failure
RestartSec=10
NoNewPrivileges=yes
PrivateTmp=yes
ProtectHome=yes
ProtectSystem=strict
UMask=0077

[Install]
WantedBy=multi-user.target
